{% extends 'base.html.twig' %}

{% block title %}Create new post{% endblock %}
{% block container %}
    <div class="row col-lg-6 col-md-offset-3">
        <form method="POST">
            {{ form_errors(form) }}

            <div>
                {{ form_row(form.theme) }}
            </div>

            <div>
                {{ form_row(form.author) }}
            </div>

            <div>
                {{ form_row(form.description) }}
            </div>

            <div>
                {{ form_label(form.images) }}
                <div class="alert alert-warning">
                    <p>
                        Before add photo, need upload it on different photo hostings
                    </p>
                </div>

                <ul class="list-group images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">

                </ul>
                {{ form_widget(form.images) }}
            </div>

            <div>
                {{ form_rest(form) }}
            </div>

            <div class="col-lg-6 col-md-offset-3">
                <button class="btn btn-default" type="submit">Create post</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/app/js/common.js') }}" ></script>
{% endblock %}