{% extends 'base.html.twig' %}

{% block title %}Mychristmas{% endblock %}
{% block container %}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                        <div class="caption">
                            <h2>{{ post.theme }}</h2>
                            <h3>{{ post.author }}</h3>
                            <p>{{ post.description }}</p>
                            <h4>{{ post.createdAt|date }}</h4>
                            <div>
                                <a href="#"></a> <span class="badge">{{ post.like }}</span>
                            </div>
                            <div>
                                <a href="#"></a> <span class="badge">{{ post.dislike }}</span>
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
